body {
    background-color: #b491ab;
    /* background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png'); */
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    /*margin: Arriba Derecha Abajo Izquierda*/
    margin: 40px 20px 0 20px;
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    font-size: 0;/*Se pone en 0 para eliminar los espacios que se agregan a los elementos dentro del header*/
    line-height: 45px;
    font-family: sans-serif;
}

li{
    display: inline;
}

.header > * {/*todos los hijos que tenga la clase header se les aplica este estilo */
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.logo > img {
    height: 100%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.navbar li {
    margin: 0 25px 0 25px;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px 0 10px;
}
.actions a{
    color: #67b54b;
}

.actions button{
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}

.contenido{
    /*margin: Arriba Derecha Abajo Izquierda*/
    margin: 40px 20px 0 20px;
}